<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            TeaserPage
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Italiana" />
        <link rel="stylesheet" href="../../teaser.css">
    </head>
    <body>
        <div id="sizedbox">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
        <div id="curvy">
            <div id="pic-big">
                <div id="col-container">
                    <div class="coll left">
                        <div class="number active" id="1">
                            <p>01</p>
                        </div>
                        <div class="number" id="2">
                            <p>02</p>
                        </div>
                        <div class="number" id="3">
                            <p>03</p>
                        </div>                
                    </div>
                    <div class="coll right">
                        <div class="pic-small"></div>
                        <div class="pic-small"></div>       
                    </div>
                </div>
                <p id="created">Art created by Euge_ from Civitai<p>
            </div>
            <div id="under">
                <div id="text">
                    <p>I code and design (?)</p>
                    <h2>PORTFOLIO<br>TEASER PAGE</h2>
                    <h3>Kenichi Komala</h3>
                </div>
                
                <div id="pic-1">
                </div>
                
                <div class="column">
                    
                    <div id="pic-2">
                    </div>

                    <a href="./home.html">
                        <div id="know-more">
                            <p>More About Me</p>
                            <img src="../../img/arrow.svg" alt="triangle with all three sides equal"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="../../teaser.js"></script>
    </body>
    </html>