<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            TeaserPage
        </title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Italiana" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../teaser.css">
    </head>
    <body>
        <div id="curvy">
            <div id="pic-big">
                <div id="col-container">
                    <div class="col left">
                        <div class="number active" id="1">
                            <p>01</p>
                        </div>
                        <div class="number" id="2">
                            <p>02</p>
                        </div>
                        <div class="number" id="3">
                            <p>03</p>
                        </div>                
                    </div>
                    <div class="col right">
                        <div class="pic-small"></div>
                        <div class="pic-small"></div>       
                    </div>
                </div>
                <p id="created">Art created by Euge_ from Civitai<p>
            </div>
            <div id="under">
                <div id="text">
                    <p>I code and design (?)</p>
                    <h2>PORTFOLIO<br>TEASER PAGE</h2>
                    <h3>Kenichi Komala</h3>
                </div>
                <div id="pic-1">

                </div>
                <div class="column">
                    <div id="pic-2">

                    </div>
                    <a href="./home.html">
                        <div id="know-more">
                            <p>Know More About Me</p>
                            <img src="../../img/arrow.svg" alt="triangle with all three sides equal"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="../../teaser.js"></script>
    </body>
    </html>